<%- include("./admin/partials/head") %>

<section class="cadastrocliente">
    <div class="headerCadastroCliente">
        <div class="voltarHome">
            <button><a href="/"><img src="/images/chevron-pointing-to-the-left.png" alt=""></a> </button>
        </div>
        <div class="logoLoginHeader">
            <div class="cuboLogin">
                <a href="">
                    <img src="/images/CuboWhitw.png" alt="GeekBox">
                </a>
            </div>
            <div class="marcaLogin">
                <a href="">
                    <img src="/images/MarcaWhith.png" alt="GeekBox">
                </a>
            </div>

        </div>
    </div>

</section>