<%- include("./admin/partials/head") %>

<%- include("./admin/partials/header") %>


<section class="bannerPrincipal">
  <div class="content">
    <div class="slides">
      
        <input type="radio" name="slide" id="slide1" checked>
        <input type="radio" name="slide" id="slide2">
        <input type="radio" name="slide" id="slide3">
        <input type="radio" name="slide" id="slide4">
        <input type="radio" name="slide" id="slide5"> 

      <div class="slide s1">
        <a href="">
          <img src=" /images/Banner---MHA.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="">
          <img src="/images/Logo e variações de cor.jpeg" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="">
          <img src="/images/Logo e variações de cor.jpeg" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="">
          <img src="/images/Logo e variações de cor.jpeg" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="">
          <img src="/images/Logo e variações de cor.jpeg" alt="">
        </a>
      </div>
      <div class="navigation">
        <label class="bar" for="slide1"></label>
        <label class="bar" for="slide2"></label>
        <label class="bar" for="slide3"></label>
        <label class="bar" for="slide4"></label>
        <label class="bar" for="slide5"></label>
      </div>
    </div>  
  </div>
</section>

<section class="categorias">
  <div class="categoriasLinha">
    <ul>
      <li>
        <a href="">
          <img src="/images/categorias/dbz.png" alt="">
        </a>
        <p>Dragon Ball</p>
      </li>
     
      <li>
        <a href="">
          <img src="/images/categorias/dc.png" alt="">
        </a>
        <p>DC Comics</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Disney.png" alt="">
        </a>
        <p>Disney</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Funko.png" alt="">
        </a>
        <p>Funko Pop</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Harry-Potter.png" alt=""> 
        </a>
        <p>Hayy Potter</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Jujutsu.png" alt="">
        </a>
        <p>Jujutsu Kaizen</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Kimetsu.png" alt="">
        </a>
        <p>Demon Slayer</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/LOL.png" alt="">
        </a>
        <p>LOL</p>
      </li>
    </ul>
  </div>
  <div class="categoriasLinha">
    <ul>
      <li>
        <a href="">
          <img src="/images/categorias/Marvel.png" alt="">
        </a>
        <p>Marvel</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/MHA.png" alt="">
        </a>
        <p>Boku no Hero</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/naruto.png" alt="">
        </a>
        <p>Naruto</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Nick.png" alt="">
        </a>
        <p>Nick</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Rick-e-morty.png" alt="">
        </a>
        <p>O Hobbit</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Star-Trek.png" alt="">
        </a>
        <p>StarTrek</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Star-Wars.png" alt="">
        </a>
        <p>StarWars</p>
      </li>
      <li>
        <a href="">
          <img src="/images/categorias/Valorant.png" alt="">
        </a>
        <p>Valorant</p>
      </li>
    </ul>
  </div>
</section>

<section class="itensBox">
  <p>Conteúdo da caixa!</p>
  <div class="itens">
      <div class="item1">
        <img src="/images/banner3.jpeg" alt="">
      </div>
      <!-- <div class="item2">
        <img src="" alt="">
      </div>
      <div class="item3">
        <img src="" alt="">
      </div>
      <div class="item4">
        <img src="" alt="">
      </div>
      <div class="item5">
        <img src="" alt="">
      </div>
      <div class="item6">
        <img src="" alt="">
      </div>
      <div class="item7">
        <img src="" alt="">
      </div> -->

  </div>
</section>

<section class="boxAssinatura">
  
</section>


<%- include("./admin/partials/footer") %>
