<%- include("./admin/partials/head") %>

<section class="login">
    <div class="logoLogin">
        <div class="cuboLogin">
            <a href="">
                <img src="/images/CuboWhitw.png" alt="GeekBox">
            </a>
        </div>
        <div class="marcaLogin">
            <a href="">
                <img src="/images/MarcaWhith.png" alt="GeekBox">
            </a>
        </div>

    </div>

    <div class="formLogin">
        <form action="">
            <input type="email" name="email" id="email" placeholder="Informe seu e-mail">
            <input type="password" name="senha" id="senha" placeholder="Informe sua senha">
        </form>
    </div>
</section>