*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;

}

.navebar a img {  
  width: 22px;
}

.carrinho a img {  
  width: 28px;
}

.logo {
  display: flex;
  align-items: center;
}

.cubo a img { 
  width: 35px;
}
.marca a img {
  width:121px;
}
/* Fim Header */

/* Body */

/* Banner Principal */

.bannerPrincipal a img {
  width: 100vw;
}

.content{
  position: relative;
  overflow: hidden;
  height: 220px;
   
}

.navigation {
  position: absolute;
  bottom: 7px;
  display: flex;
  left: 50%;
  transform: translate(-50%)
}

.bar {
  
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin:4px;
  cursor: pointer;
  transition: 0.4;
}

.bar:hover{
  background-color: #fff;
}

input {
  display:none;
}

.slides {
  display:flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height:100%;
}

#slide1:checked ~ .s1{
  margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -20%;
}

#slide3:checked ~ .s1{
  margin-left: -40%;
}

#slide4:checked ~ .s1{
  margin-left: -60%;
}

#slide5:checked ~ .s1{
  margin-left: -80%;
}

/* Fim Banner */

/* Categorias */

.categorias {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100vw;
}

.categoriasLinha{
  margin: 0;
  width: 170%;
  
}

::-webkit-scrollbar{
  display: none;
  background-color: #c4c4c4;
  border-radius: 8px;
  height: 4px;
  padding: 20px;
}

::-webkit-scrollbar-thumb{
  background-color: #7f2eff;
  border-radius: 8px;
}
::-webkit-scrollbar-corner{
  width: 20px;
}

.categoriasLinha ul{
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
}

.categoriasLinha ul li {
  list-style-type: none;
  width: 16vw;
  height: 8vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

/* .categoriasLinha ul li a {
  width: 100%;
  height: 100%;
} */

.categoriasLinha ul li a img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  padding: 9%;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
}

.categoriasLinha ul li p {
  color: #7a7a7a;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  width: 100%;
  text-align: center;
}

/* fim categorias */
/* itens da caixa */

.itensBox {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 5% auto;
  gap: 10px;
}

.itensBox p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #7f2eff;
  border-radius:8px;
  padding: 5px;
}

.item1 {
  width: 90%;
  margin: 0 auto;
}

.item1 img {
  width: 100%;
}

/* fim itens da caixa */
/* Footer */

footer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
  background-color: #cccccc;
}

.footerBlock {
  display: flex;
  flex-direction: column;
}

.logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.boxFooter a img{
  width:50px;
}

.marcaFooter a img {
  width: 150px;
}

.menuFooter{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 0 20px;

}

.menuFooter ul {
  padding: 0;
}

.menuFooter ul li {
  list-style: none;
  margin: 20px 0; 

}

.menuFooter ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  display: flex;
  align-items:center;
}

.menuFooter ul li a img {
  width: 20px;
  margin-right: 5px;
}

.menuFooter ul li p {
  display: inline;
}

.formasPagamento {
  background-color: #B6B4B4;
  border-radius: 8px 8px 0 0;
}

.formasPagamento p {
  text-align: center;
  margin-top:15px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.bandeirasPag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0 20px 0;
}

.bandeirasPag img {
  width: 25px;
}

.direitos {
  background-color: #A09F9F;
  border-radius: 8px 8px 0 0;
  padding: 10px 0;
}

.direitos p {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 7px;
  margin: 0px;
}

/* Fim Footer */