*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 8vh;
}

.navebar button{  
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 36px;
}

button:focus ~ nav {
  display: fixed;
  z-index: 1000;
  width: 70%;

  
}

.carrinho a img {  
  width: 28px;
}

.logo {
  display: flex;
  align-items: center;
}

.cubo a img { 
  width: 35px;
}
.marca a img {
  width:121px;
}

/* Menu Mobile */

nav {
  position: absolute;
  left: 0;
  top: 8vh;
  height: 92vh;
  width: 60%;
  background-color: rgba(128, 128, 128, 0.916);
  width: 0%;
  overflow: hidden;
  transition: all .5s;
}
nav ul {
  list-style: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul li a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 10px;
}

nav ul li a:hover{
  background-color: #fff;
  color: black;
}


/* Fim Header */

/* Body */

/* Banner Principal */
.bannerPrincipal {
  padding-top: 8vh;
}
.bannerPrincipal a img {
  width: 100vw;
}

.content{
  position: relative;
  overflow: hidden;
  height: 220px;
}

.navigation {
  position: absolute;
  bottom: 7px;
  display: flex;
  left: 50%;
  transform: translate(-50%)
}

.bar {
  
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin:4px;
  cursor: pointer;
  transition: 0.4;
}

.bar:hover{
  background-color: #fff;
}

.slides input {
  display:none;
}

.slides {
  display:flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height:100%;
}

#slide1:checked ~ .s1{
  margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -20%;
}

#slide3:checked ~ .s1{
  margin-left: -40%;
}

#slide4:checked ~ .s1{
  margin-left: -60%;
}

#slide5:checked ~ .s1{
  margin-left: -80%;
}

/* Fim Banner */

/* Categorias */

.categorias {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100vw;
}

.categoriasLinha{
  margin: 0;
  width: 170%;
  
}

::-webkit-scrollbar{
  display: none;
  background-color: #c4c4c4;
  border-radius: 8px;
  height: 4px;
  padding: 20px;
}

::-webkit-scrollbar-thumb{
  background-color: #7f2eff;
  border-radius: 8px;
}
::-webkit-scrollbar-corner{
  width: 20px;
}

.categoriasLinha ul{
  display: flex;
  justify-content: space-around;
  margin: 3% 0;
}

.categoriasLinha ul li {
  list-style-type: none;
  width: 16vw;
  height: 8vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

/* .categoriasLinha ul li a {
  width: 100%;
  height: 100%;
} */

.categoriasLinha ul li a img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  padding: 9%;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
}

.categoriasLinha ul li p {
  color: #7a7a7a;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  width: 100%;
  text-align: center;
}

/* fim categorias */
/* itens da caixa */

.itensBox {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10% auto;
  gap: 20px;
}

.itensBox p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #7f2eff;
  border-radius:8px;
  padding: 5px;
}

.item1 {
  width: 90%;
  margin: 0 auto;
}

.item1 img {
  width: 100%;
}

/* fim itens da caixa */

/* Assinatura */

.boxAssinatura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("/images/Assinatura/Background.png") ;
  background-size: contain;
  padding: 5% 0;
} 

.logoAssinatura img{
  display: block;
  width: 70%;
  margin: 0 auto;
}

.carrosselAssinatura {
  width: 100%;
  overflow: auto;
  margin: 10% 0;
}

.carrosselAssinatura ul {
  display: flex;
  width: 250%;
  gap: 5%;
  padding: 0 5%;
}

.carrosselAssinatura ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.382);
  border-radius: 8px;
  height: 40vh;
  gap: 5%;
  list-style: none;
}

.carrosselAssinatura ul li a img {
  width: 100%;
}

.boxDescricao {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: black;
  margin: 0 auto;
  padding: 5px 0;
}

.boxDescricao span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fcda03;
}

.boxDescricao p {

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
}

/* .precoProduto {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
} */

.carrosselAssinatura ul li button {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #02c406;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  margin-top: 5%;
}
/* Fim Assinatura */

/* Depoimento Cliente */

.depoimentoCliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  margin: 10% auto;
}



.logoDepoimento{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 5% 5%;
  background: #7f2eff;
  border-radius:8px;
  padding: 5px;
  align-items: flex-end;

}

.logoDepoimento p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.depoimentos{
  width: 100%;
  overflow: hidden;
  margin: 5% 0;
}

.depoimentoCliente ul {
  display: flex;
  width: 300%;
  list-style: none;
  overflow: auto;

}

.depoimentoCliente ul li {
  display: flex;
  width: 300%;
  gap: 10%;
  position: relative;
  padding: 0 3%;
  animation: slide 15s infinite ease-out;
}
  
@keyframes slide {
  0%{left: 0px}
  20%{left: 0px}
  30%{left: -33.3%}
  50%{left: -33.3%}
  60%{left: -66.6%}
  90%{left: -66.6%}
  100%{left: 0px}
}


.depoimentoCliente ul li img {
  width: 40%;
}

.depoimentoCard {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  gap: 5%;
}

.depoimentoCard span {
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.depoimentoCard p{
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;

}

/* Fim depoimento cliente */

/* Unboxing */

.unboxing {
  width: 100%;
  background-color: #ff335a;
  padding: 5% 0;
  margin: 50px 0;
}

.unboxingTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 5%;
}

.unboxingTituloBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.unboxingTituloBar img {
  width: 32px;
}
.unboxingTituloBar p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 10px;
}

.unboxingTitulo iframe {
  width: 90%;
  height: 250px;
  border-radius: 8px;
  margin: 10px 0;
}

/* Fim unboxing */

/* Footer */

footer{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
  background-color: #cccccc;
}

.footerBlock {
  display: flex;
  flex-direction: column;
}

.logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.boxFooter a img{
  width:50px;
}

.marcaFooter a img {
  width: 150px;
}

.menuFooter{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 0 20px;

}

.menuFooter ul {
  padding: 0;
}

.menuFooter ul li {
  list-style: none;
  margin: 20px 0; 

}

.menuFooter ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  display: flex;
  align-items:center;
}

.menuFooter ul li a img {
  width: 20px;
  margin-right: 5px;
}

.menuFooter ul li p {
  display: inline;
}

.formasPagamento {
  background-color: #B6B4B4;
  border-radius: 8px 8px 0 0;
}

.formasPagamento p {
  text-align: center;
  margin-top:15px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.bandeirasPag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0 20px 0;
}

.bandeirasPag img {
  width: 25px;
}

.direitos {
  background-color: #A09F9F;
  border-radius: 8px 8px 0 0;
  padding: 10px 0;
}

.direitos p {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 7px;
  margin: 0px;
}

/* Fim Footer */


/* login */ 



.voltarHome button {
  border: none; 
  color: #fff;
  background-color:transparent;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
 width: 35px;
}

.voltarHome button a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
} 

.voltarHome a img {
 height: 3vh;
}

.login {
  background: conic-gradient(from -55.33deg at 121.12% -10.32%, #000000 0deg, #000000 180deg, #FF335A 266.74deg, #000000 360deg);
  height: 100vh;
}

.logoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
}

.logoLogin {
  display: flex;
  justify-content:center;
  align-items:center;
  width: 70%;
  margin: 0 auto;
}

.cuboLogin a img {
  width: 100px;
}

.marcaLogin a img {
  width: 200px;
}

.formLogin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 20px;
}

.dadosForm1 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.dadosForm1 input{
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 40px;

}

.dadosForm1 span {
  position: absolute;
  right: 10px;
}

.dadosForm1 span img{
  width: 18px;

} 

.dadosForm2 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.dadosForm2 input{
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 40px;

}

.dadosForm2 span {
  position: absolute;
  right: 10px;
}

.dadosForm2 span img{
  width: 18px;

} 

.ctaEntrar {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ctaEntrar button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none; 
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: linear-gradient(91.88deg, rgba(2, 196, 6, 0.84) 0%, #70FA73 100%);
}

.ctaEntrar a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

.loginRedeSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: center;
  width: 50%;
  margin: 0 auto;
  gap: 15px;
}

.loginRedeSocial button {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}
.loginRedeSocial button  a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  color: grey;
}
.loginRedeSocial button a img {
  width: 20px;
}

.linkCadastro {
  width: 100%;
  margin: 0 auto;
}

.linkCadastro p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-align: center;
}

.linkCadastro p a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-decoration:none;
} 

/* Fim login */

/* Cadastro Cliente */ 


.headerCadastroCliente {
  width: 100%;
  height: 8vh;
  background-color: #ff335a; 
  display: flex;
  align-items: center;
}

.logoLoginHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content:center;
  align-items:center;
  width: 70%;
  margin: 0 auto;
}
.headerCadastroCliente .logoLoginHeader .cuboLogin a img {
  width: 35px;
}

.headerCadastroCliente .logoLoginHeader .marcaLogin a img {
  width: 121px;
}

.tagCadastro {
  height:6vh;
  background-color: rgb(132, 132, 132);
  width: 100%;
  display: flex;
  align-items: center;

}
.tagCadastro img {
  width: 35px;
  margin-left: 15px;
}

.tagCadastro p {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content:center;
  align-items:center;
  width: 70%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
} 


.formCadastroCliente {

  height: 100%;
  width: 100%;
 
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formCadastroCliente p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: grey;

}

.divFormCadastroCliente {
  display: flex;
  flex-direction: column;
  width:1005;
}

.dadosPessoais {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.dadosPessoais div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e5e5e5;
  padding: 30px;
  width: 100%;
  border-radius: 8px;

}

.dadosPessoais div input{
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;

}




.dadosEntrega input{
  width: 100%;
}

.dadosEntrega {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.dadosEntrega div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e5e5e5;
  padding: 30px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
}

::-webkit-input-placeholder{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.dadosEntrega div input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.formCadastroCliente button {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  border-radius: 10px;
  border: none; 
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: linear-gradient(91.88deg, rgba(2, 196, 6, 0.84) 0%, #70FA73 100%);
}

