<footer>
    <div class="footerBlock">
        <div class="logoFooter">
            <div class="boxFooter">
                <a href="">
                    <img src="/images/CuboBlack.png" alt="Logo Footer">
                </a>
            </div>
        
            <div class="marcaFooter">
                <a href="">
                    <img src="/images/MarcaBlack.png" alt="Marca Footer">
                </a>
            </div>
        </div>
        <div class="menuFooter">
            <div class="menuFooterLeft">
                <ul>
                    <li>
                        <a href="">
                            <img src="/images/footer/check-list.png" alt="Política de Privacidade">
                            <p>Política de Privacidade</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/footer/check-list.png" alt="Trocas e devoluções">
                            <p>Trocas e devoluções</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/footer/check-list.png" alt="Quem Somos">
                            <p>Quem Somos</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menuFooterRigth">
                <ul>
                    <li>
                        <a href="">
                            <img src="/images/footer/user.png" alt="Minha conta">
                            <p>Minha Conta</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/footer/chat.png" alt="Fale Conosco">
                            <p>Fale Conosco</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/images/footer/cookies.png" alt="Preferências e Cookies">
                            <p>Preferências e Cookies</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="formasPagamento">
        <p>Formas de Pagamenento:</p>
        <div class="bandeirasPag">
            <img src="/images/footer/pagamentos/visa.png" alt="">
            <img src="/images/footer/pagamentos/maestro.png" alt="">
            <img src="/images/footer/pagamentos/american-express.png" alt="">
            <img src="/images/footer/pagamentos/pix-106.png" alt="">
            <img src="/images/footer/pagamentos/icons8-boleto-bankario-48.png" alt="">
        </div>
        <div class="direitos">
            <p>GeekBox Comércio de Equipamentos / CNPJ: 00.000.000/0001-01 / Todos os Direitos Reservados</p>
        </div>
    </div>

    
</footer>
</body>