
<body>
    <header>
        <div class="navebar">
            <button>&#9776;</button>
            <nav>
                <div class="menuMobile">
                    <ul>
                        <li><a href="/login">Login</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Meus Pedidos</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Ajuda</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="logo">
            <div class="cubo">
                <a href="">
                    <img src="/images/CuboWhitw.png" alt="GeekBox">
                </a>
            </div>
            <div class="marca">
                <a href="">
                    <img src="/images/MarcaWhith.png" alt="GeekBox">
                </a>
            </div>
        </div>
        <div class="carrinho">
            <a href="">
                <img src="/images/shopping-cart.png" alt="Carrinho de Compras">
            </a>
        </div>
    </header>

    